.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-status {
  display: none;
}

.control-dots {
  position: fixed !important;
}

.thumbs-wrapper {
  display: none;
}

.control-dots li:nth-child(1) {
  height: 50px !important;
  width: 50px !important;
  background: url('./celsius.png') white no-repeat !important;
  background-position: center !important;
  background-size: 80% !important;
  
}

.control-dots li:nth-child(1):hover {
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

.control-dots li:nth-child(2) {
  height: 50px !important;
  width: 50px !important;
  background: url('./shower.png') white no-repeat !important;
  background-position: center !important;
  background-size: 80% !important;
}

.control-dots li:nth-child(2):hover {
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

.control-dots li:nth-child(3) {
  height: 50px !important;
  width: 50px !important
}

.control-dots li:nth-child(3):hover {
  transform: scale(1.5);
  transition: 0.3s ease-in-out;
}

.control-arrow {
  position: fixed !important;
}